#contact-map iframe {
  max-width: 700px;
  max-height: 500px;
  width: 45vw;
  height: 40vw;
}

main {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.contact-info {
  margin-right: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 1267px) {
  .contact-info {
    margin-right: 0;
    margin-bottom: 10px;
  }
  #contact-map iframe {
    width: 55vw;
    height: 55vw;
  }
}
